@import "src/assets/scss/variables";

.toolbar {
  height: 3rem;

  padding-left: 1rem;

  display: flex;
  align-items: center;

  background-color: $color-black;
  color: $color-black-100;

  font-weight: 600;
  font-size: 1.2rem;
}
